<header class="navbar middleBG">
  <div class="container">
    <nav role="navigation">
      <div class="container">
        <h1 class="text pull-left">Welcome!</h1>
      </div>
      <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link text font" href="/auth/signup">Signup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text font" href="/auth/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text font" href="/auth/logout">Logout</a>
          </li>

        </ul>
      </div>
    </nav>
  </div>

</header>
